<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Экзамен_ПМ._01.Properties.Settings.Экзамен_ПМ_01_ПекинConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=Экзамен-ПМ.01-Пекин;User ID=44П;Password=H12TjtrV"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>